/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7FA;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

h2:before {
  content:"\25be";
}


h4 {
  font-weight: lighter;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #424242;
}

/* intestazione */


header .intestazione {
  height: 50px;
  background-color: white;
  padding: 5px 15px;
  margin-bottom: 50px;
}


header h1 {
  display: inline-block;
  line-height: 20px;
}

.intestazione img {
  width: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
}


/* contenitore */

.contenitore {
  width: 60%;
  margin: 0 auto;
}

/* navigatore */

nav .naviga {
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  padding: 12px 40px;
  margin-bottom: 3px;
}

.naviga .bottone {
  display: inline-block;
  border-radius: 5px;
  line-height: 23px;
  font-size: 0.7rem;
  text-align: center;
}

.naviga .task {
  width: 66px;
  height: 25px;
  background-color: #47ACF1;
  color: white;
  
}

.naviga .section {
  width: 74px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #999898;
  color: #c1c1c1;
}


/* corpo della pagina */

main .corpo {
  background-color: white;
  padding: 20px 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.corpo .sezione {
  padding-bottom: 20px;
}



.corpo span {
  display: inline-block;
  width: 60px;
  height: 30px;
  color: white;
  line-height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
}


.editorial {
  background-color: #47ACF1;
}

.qgoals {
  background-color: #9B72E4;
}

.recruiting {
  background-color: #64BFA9;
}

.mobile {
  background-color: #F19D34;
}

.website {
  background-color: #D963A1
}

.sales {
  background-color: #B0C925;
}

  .cerchio {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  margin-right: 10px;
  font-size: 0.7rem;
}

.cerchio.visto {
  border: 1px solid #20a62cdc;
  color: #20a62cdc;
}

.visto:before {
  content:"\2713";
}


.cerchio.nonvisto {
  border: 1px solid red;
  color: red;;
}

.nonvisto:before {
  content:"\2717"
}