/* css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7FA;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-size: 1.3rem;
}

h4 {
  font-weight: lighter;
}

/* intestazione */


header .intestazione {
  height: 50px;
  background-color: white;
  padding: 5px 15px;
  margin-bottom: 50px;
}


header h1 {
  display: inline-block;
  line-height: 20px;
}

.intestazione img {
  width: 40px;
  vertical-align: middle;
  padding-bottom: 10px;
}


/* contenitore */

.contenitore {
  width: 60%;
  margin: 0 auto;
}

/* navigatore */

nav .naviga {
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: white;
  padding: 12px 40px;
  margin-bottom: 3px;
}

.naviga .bottone {
  display: inline-block;
  border-radius: 5px;
  line-height: 23px;
  font-size: 0.7rem;
  text-align: center;
}

.naviga .task {
  width: 66px;
  height: 25px;
  background-color: #47ACF1;
  color: white;
  
}

.naviga .section {
  width: 74px;
  height: 25px;
  background-color: #ffffff;
  border: 1px solid #999898;
  color: #c1c1c1;
}


/* corpo della pagina */

main .corpo {
  background-color: white;
  padding: 20px 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}