/* general */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7FA;
  font-family: 'Roboto', sans-serif;
}



/* container */

.container {
  width: 60%;
  margin: 40px auto;
  border-radius: 10px;
}

/* header */

header {
  height: 70px; 
  background-color: white;
  padding: 10px 20px;
}


#logo-text{
  font-size: 1.9rem;
  font-weight: bold;
  vertical-align: middle;
}

#logo {
  height: 100%;
  vertical-align: middle;
}


/* main */


/* top */

.top {
  height: 50px;
  background-color: white;
  padding: 12px 40px;
  border-bottom: 4px solid #F7F7FA;
}

.type {
  width: 74px;
  height: 25px;
  display: inline-block;
  border-radius: 5px;
  line-height: 23px;
  font-size: 0.7rem;
  text-align: center;
}

.task {
  background-color: #47ACF1;
  border: 1px solid #47ACF1;
  color: white;
  
}


.section {
  background-color: #ffffff;
  border: 1px solid #999898;
  color: #c1c1c1;
}



 /* under */

ul li {
  list-style: none;
}

h2 {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

h2::before {
  content:"\25be";
}


h4 {
  font-weight: lighter;
  padding-bottom: 15px;
  padding-left: 10px;
  color: #424242;
}

main .under {
  background-color: white;
  padding: 20px 40px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}




.under span {
  display: inline-block;
  width: 60px;
  height: 30px;
  color: white;
  line-height: 30px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 0.7rem;
  text-align: center;
}


 .editorial {
  background-color: #47ACF1;
}


 .qgoals {
  background-color: #9B72E4;
}


 .recruiting {
  background-color: #64BFA9;
}


 .mobile {
  background-color: #F19D34;
}


 .website {
  background-color: #D963A1
}


 .sales {
  background-color: #B0C925;
}

  .circle {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  margin-right: 10px;
  font-size: 0.7rem;
}

.circle.check {
  border: 1px solid #20a62cdc;
  color: #20a62cdc;
}

.check::before {
  content:"\2713";
}


.circle.uncheck {
  border: 1px solid red;
  color: red;;
}

.uncheck::before {
  content:"\2717"
}


